body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

header {
  height: 20%;
}

header h1 {
  color: #334152;
  font-family: 'Roboto Mono', monospace;
  font-size: 3em;
  text-align: center;
  margin: 0;
  padding: 0.5em;
  background-color: white;
}

/* disable the spinner of the number inputs*/
#controls input[type=number]::-webkit-inner-spin-button, #controls input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#content {
  height: 80%;
  width: 100%;
  position: absolute;
}

#controls {
  background-color: #049d93;
  height: 14em;
  text-align: center;
}

#inputelements {
  width: 75%;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
}

#inputelements label {
  color: white;
  font-family: 'Roboto Mono', monospace;
}

#inputelements input {
  padding: 0.4em;
  border-radius: 0.2em;
  border: none;
  width: 3em;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.button-row {
  width: 75%;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button-row button {
  font-family: 'Roboto Mono', monospace;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#table {
  padding: 2em;
  margin: 3em 5em;
  background-color: #d9e6ec;
  border-radius: 0.7em;
  overflow-x: auto; /* for the responsive table*/
  min-height: 10em;
  font-family: 'Roboto Mono', monospace;

}

#circle {
  position: absolute;
  right: 0em;
  bottom: 0em;
}

#circle svg {
  fill: #049d93;
}

button {
  background-color: #334152;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

/* TABLE */

#table table tr td:first-child {
  width: 10em;
  text-align: left;
}

#table table td input, #table table td {
  text-align: center;
  width: 5em;
  font-family: 'Roboto Mono', monospace;
}

#table table {
  margin-left: auto;
  margin-right: auto;
}

/* ALERT POP UP */
#alertanchor {
  position: absolute;
  bottom: 5em;
  text-align: center;
  width: 100%;
}

#alertanchor p {
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  width: 20em;
  border-radius: 0.7em;
  background-color: rgba(51, 65, 82, 0.8);
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  animation-duration: 700ms;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* STYLE FOR DISABLED ELEMENTS */
:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

