/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #################################################### */

body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

/* the space for the heading */
header {
  height: 25%;
}

/* the heading at the page top*/
header h1 {
  color: #334152;
  font-family: 'Roboto Mono', monospace;
  font-size: 3em;
  text-align: center;
  margin: 0;
  padding: 1em;
  background-color: white;
}

/* disable the spinner of the number inputs*/
#controls input[type=number]::-webkit-inner-spin-button, #controls input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* disabling the border when clicking on buttons */
#controls .button-row button:focus,
#inputelements button:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

/* here lives the buttons and the matrix */
#content {
  height: 80%;
  width: 100%;
  position: absolute;
}

#controls {
  background-color: #049d93;
  height: 14em;
  text-align: center;
}

/* the first row with the inputs for variables and constraints */
#inputelements {
  width: 75%;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
}

#inputelements label {
  color: white;
  font-family: 'Roboto Mono', monospace;
}

#inputelements input {
  padding: 0.4em;
  border-radius: 0.2em;
  border: none;
  width: 3em;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

#inputelements button {
  font-family: 'Roboto Mono', monospace;
}

.button-row {
  width: 75%;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button-row button {
  font-family: 'Roboto Mono', monospace;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

button {
  background-color: #334152;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

#table {
  padding: 2em;
  margin: 3em 5em;
  background-color: #d9e6ec;
  border-radius: 0.7em;
  overflow-x: auto; /* for the responsive table*/
  min-height: 10em;
  font-family: 'Roboto Mono', monospace;
}

#circle {
  position: absolute;
  z-index: -1;
  right: 0em;
  bottom: 0em;
}

#circle svg {
  fill: #049d93;
}

/* TABLE */

#table tbody tr:nth-child(even) input {
  /*background-color: aqua;*/
}

#table table tr td:first-child {
  width: 10em;
  text-align: left;
}

#table table td input, #table table td {
  text-align: center;
  width: 5em;
  font-family: 'Roboto Mono', monospace;
}

#table table {
  margin-left: auto;
  margin-right: auto;
}

/* the style for the subscript in the table header */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* ALERT POP UP AT THE BOTTOM */

#alertanchor {
  position: absolute;
  bottom: 5em;
  text-align: center;
  width: 100%;
}

#alertanchor p {
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  width: 20em;
  border-radius: 0.7em;
  background-color: rgba(51, 65, 82, 0.8);
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  animation-duration: 700ms;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* STYLE FOR DISABLED ELEMENTS */
:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* DROPDOWN FOR SAVE MATRIX */

#saveMatrix {
  cursor: default;
}

/* The container <div> - needed to position the dropdown content */
#saveMatrixDropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#saveMatrixDropdownContent {
  display: none;
  position: absolute;
  background-color: rgba(217, 230, 236, 0.95);
  width: 9.2em;
  margin-left: 0.6em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  font-family: 'Roboto Mono', monospace;
}

/* Links inside the dropdown */
#saveMatrixDropdown .saveMatrixSlot {
  font-size: 0.9em;
  color: black;
  padding: 1em;
  text-decoration: none;
  display: block;
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

/* Change color of dropdown links on hover */
.saveMatrixSlot:hover {
  background-color: white;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
#saveMatrixDropdown:hover #saveMatrixDropdownContent {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* THE MODEL AT STARTUP WITH DESCRIPTION */

/* The Modal (background) */
#descriptionModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content/Box */
#descriptionModalContent {
  background-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
  border: none;
  max-width: 40em;
  margin-top: 7em;
  height: 35em;
  padding: 1em;
  font-family: 'Roboto Mono', monospace;
}

/* The Close Button */
#closeDescriptionModalContent {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closeDescriptionModalContent:hover,
#closeDescriptionModalContent:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalBody {
  height: 91%;
}

#modalFooter p {
  padding: 0.5em 1em;
}
