<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="js/fraction.min.js"></script>
<script src="js/tables-iterator.js"></script>
<script src="js/eventhandler.js"></script>
<script src="js/iterator.js"></script>
<script src="js/matrix.js"></script>
<style>
table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

td {
	width: 2em;
	height: 2em;
}

/* disable the spinner of the number inputs*/
#controls input[type=number]::-webkit-inner-spin-button, #controls input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}
</style>
</head>
<body>



	<div id="controls" class="col-md-10 main-content">

		<label for="numbOfVariables" th:text="#{powerlp.numberOfVariables}">Anzahl
			der Variablen</label> <input id="numbOfVariables" name="numbOfVariables"
			type="number" min="4" placeholder="Number of variables" value="4" />
		<button id="incrementNumberOfVariables">↑</button>
		<button id="decrementNumberOfVariables">↓</button>

		<label for="numbOfConstraintts"
			th:text="#{powerlp.numberOfConstraints}">Anzahl der
			Restriktionen</label> <input id="numbOfConstraints" name="numbOfConstraints"
			type="number" min="1" placeholder="Number of constrains" value="2" />
		<button id="incrementNumberOfConstraints">↑</button>
		<button id="decrementNumberOfConstraints">↓</button>

		<button id="pivotize" th:text="#{iterator.pivotizeButton}">Pivot</button>
		<button id="optimize" th:text="#{iterator.optimizeButton}">optimieren</button>
		<button id="reset" th:text="#{powerlp.resetButton}">reset</button>
		<button id="iterate" th:text="#{iterator.iterateButton}">Iterieren</button>
		<button id="loadExample" th:text="#{iterator.loadExampleButton}">Standard Beispiel laden</button>

	</div>

	<table id="matrix">
		<thead>
		</thead>
		<tbody>
		</tbody>
	</table>
	
		<script th:inline="javascript">
		/*<![CDATA[*/

		// the strings to translate
		var headerMatrixTargetFunction = "Zielfunktion";
		var headerMatrixConstraintRow = "Restriktion";
		//var headerMatrixTargetFunction = [[#{powerlp.headerTableauTargetFunction}]] || "Zielfunktion";
		//var headerMatrixConstraintRow = [[#{powerlp.headerTableauConstraintRow}]] || "Restriktion";
		
		init();

		/*]]>*/
	</script>

</body>
</html>